<h1>{{title}}</h1>

<h2>Vegas Node.js Meetup Group</h2>

<p>We are building up a project to demonstrate various aspects of the node.js language, and various modules that can be obtained with npm.</p>

<p>Please fork JimmyJacobson's node-vegas project and put in pull requests when you have added something awesome.</p>

