<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vegas Node.js</title>
    <link media="screen" rel="stylesheet" type="text/css" href="stylesheets/style.css" />
</head>
<body>
    <h1> Vegas Node.js</h1>
    <div class="nav">
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/ray">Ray</a></li>
        <li><a href="/paulisit">Paul Is IT</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/contact">Contact</a></li>
        </ul>
    </div><div class="clear"></div>
{{{body}}}
</body>
</html>
